<h1>New purchaser</h1>

<%= form_for :purchaser, url: purchasers_path do |f| %>
  <p>
    <%= f.label :purchasername %><br>
    <%= f.text_field :purchasername %>
  </p>

  <p>
    <%= f.submit %>
  </p>
<% end %>
